# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
packages/ditonton_core/build/native_assets/windows/native_assets.json
packages/ditonton_core/build/test_cache/build/892b637c16d52470fb7b14b9d9897587.cache.dill.track.dill
packages/ditonton_core/build/unit_test_assets/AssetManifest.bin
packages/ditonton_core/build/unit_test_assets/AssetManifest.json
packages/ditonton_core/build/unit_test_assets/FontManifest.json
packages/ditonton_core/build/unit_test_assets/NativeAssetsManifest.json
packages/ditonton_core/build/unit_test_assets/NOTICES.Z
packages/ditonton_core/build/unit_test_assets/shaders/ink_sparkle.frag
packages/ditonton_movies/build/native_assets/windows/native_assets.json
packages/ditonton_movies/build/test_cache/build/892b637c16d52470fb7b14b9d9897587.cache.dill.track.dill
packages/ditonton_movies/build/unit_test_assets/AssetManifest.bin
packages/ditonton_movies/build/unit_test_assets/AssetManifest.json
packages/ditonton_movies/build/unit_test_assets/FontManifest.json
packages/ditonton_movies/build/unit_test_assets/NativeAssetsManifest.json
packages/ditonton_movies/build/unit_test_assets/NOTICES.Z
packages/ditonton_movies/build/unit_test_assets/shaders/ink_sparkle.frag
packages/ditonton_tv/build/native_assets/windows/native_assets.json
packages/ditonton_tv/build/test_cache/build/892b637c16d52470fb7b14b9d9897587.cache.dill.track.dill
packages/ditonton_tv/build/unit_test_assets/AssetManifest.bin
packages/ditonton_tv/build/unit_test_assets/AssetManifest.json
packages/ditonton_tv/build/unit_test_assets/FontManifest.json
packages/ditonton_tv/build/unit_test_assets/NativeAssetsManifest.json
packages/ditonton_tv/build/unit_test_assets/NOTICES.Z
packages/ditonton_tv/build/unit_test_assets/shaders/ink_sparkle.frag
